---
import Game from "../components/Game.tsx";
import "modern-normalize/modern-normalize.css";
import "../main.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/fruitgame/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/fruitgame/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/fruitgame/favicon-16x16.png"
        />
        <link rel="manifest" href="/fruitgame/site.webmanifest" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>fruit game</title>
    </head>
    <body>
        <h1>fruit game</h1>
        <Game client:load />
    </body>
</html>
